.container{
    display: flex;
    justify-content: center;
    height: 100vh;
}
#form{
    width: 500px;
    margin: auto;
}
h1{
    text-align: center;
}
a{
    margin-top: 10px;
    text-decoration: none;
    color: black;
}